<template>
  <div :class="['flex h-screen antialiased text-gray-900 bg-gray-100 dark:bg-dark dark:text-light']">

    <!-- Sidebar -->
    <aside class="flex-shrink-0 hidden w-64 bg-white border-r dark:border-primary-darker dark:bg-darker md:block">
      <div class="flex flex-col h-full">
        <nav aria-label="Main" class="flex-1 px-2 py-4 space-y-2 overflow-y-hidden hover:overflow-y-auto">
          
          <!-- Dashboards links -->
          <div>
            <a
              href="/seeker/dashboard"
              class="flex items-center p-2 text-gray-500 transition-colors rounded-md dark:text-light hover:bg-primary-100 dark:hover:bg-primary"
              aria-haspopup="true"
            >
              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
              </svg>
              <span class="ml-2 text-sm">Dashboard</span>
            </a>
          </div>

          <!-- Components links -->
          <div>
            <a
              href="#"
              @click.prevent="toggleSubMenu('components')"
              class="flex items-center p-2 text-gray-500 transition-colors rounded-md dark:text-light hover:bg-primary-100 dark:hover:bg-primary"
              :class="{'bg-primary-100 dark:bg-primary': isActive.components || open.components}"
              aria-haspopup="true"
              :aria-expanded="(open.components || isActive.components) ? 'true' : 'false'"
            >
              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
              </svg>
              <span class="ml-2 text-sm">Components</span>
            </a>
            <div v-show="open.components" class="mt-2 space-y-2 px-7">
              <a href="#" class="block p-2 text-sm text-gray-400 dark:text-gray-400 hover:text-gray-700 dark:hover:text-light">Link 1</a>
              <a href="#" class="block p-2 text-sm text-gray-400 dark:text-gray-400 hover:text-gray-700 dark:hover:text-light">Link 2</a>
            </div>
          </div>
        </nav>
      </div>
    </aside>

    <!-- Main Content -->
    <div class="flex-1 h-full overflow-x-hidden overflow-y-auto">
      <header class="relative bg-white dark:bg-darker">
        <div class="flex items-center justify-between p-2 border-b dark:border-primary-darker">
          <button @click="toggleMobileMenu" class="p-1 transition-colors duration-200 rounded-md text-primary-lighter bg-primary-50 hover:text-primary hover:bg-primary-100 dark:hover:text-light dark:hover:bg-primary-dark dark:bg-dark md:hidden focus:outline-none focus:ring">
            <span class="sr-only">Open main menu</span>
            <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>

          <a href="#" class="inline-block text-2xl font-bold tracking-wider uppercase text-primary-dark dark:text-light">Job_sphere</a>

          <!-- User Avatar and Dropdown -->
          <div class="relative">
            <button @click="toggleDropdown" class="transition-opacity duration-200 rounded-full focus:outline-none focus:ring dark:focus:opacity-100">
              <img class="w-10 h-10 rounded-full" src="../assets/seeker_style/images/user1.jpg" alt="Ahmed Kamel" />
            </button>

            <!-- Dropdown Menu -->
            <div v-show="dropdownOpen" class="absolute right-0 w-48 py-1 bg-white rounded-md shadow-lg top-12 ring-1 ring-black ring-opacity-5 dark:bg-dark">
              <a href="/seeker/information" class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"><i class="fa fa-list-alt"></i>&nbsp;Info</a>
              <a href="/seeker/profile" class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"><i class="fa fa-image"></i>&nbsp;Profile</a>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary openModal" @click="openModal"><i class="fa fa-lock"></i>&nbsp;Logout</a>
            </div>
          </div>
        </div>
      </header>

      <main class="flex-grow">
        <slot></slot>
      </main>
      <!-- <main>
        <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
          <h1 class="text-2xl font-semibold">Dashboard</h1>
        </div>
      </main> -->
    </div>

    <!-- Mobile Menu -->
    <nav v-show="isMobileMainMenuOpen" class="absolute top-16 inset-x-4 md:hidden z-50 flex flex-col items-center p-4 bg-white rounded-md shadow-lg dark:bg-darker">
      <div class="space-y-2">
        <!-- Dashboards Link -->
        <a
          href="/seeker/dashboard"
          @click.prevent="toggleSubMenu('dashboard')"
          class="flex items-center p-2 text-gray-500 transition-colors rounded-md dark:text-light hover:bg-primary-100 dark:hover:bg-primary"
          :class="{'bg-primary-100 dark:bg-primary': isActive.dashboard || open.dashboard}"
        >
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
          </svg>
          <span class="ml-2 text-sm">Dashboard</span>
        </a>

        <!-- Components Link -->
        <a
          href="#"
          @click.prevent="toggleSubMenu('components')"
          class="flex items-center p-2 text-gray-500 transition-colors rounded-md dark:text-light hover:bg-primary-100 dark:hover:bg-primary"
          :class="{'bg-primary-100 dark:bg-primary': isActive.components || open.components}"
        >
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
          </svg>
          <span class="ml-2 text-sm">Components</span>
        </a>
        <div v-show="open.components" class="mt-2 space-y-2 px-7">
            <a href="#test" class="block p-2 text-sm text-gray-400 dark:text-gray-400 hover:text-gray-700 dark:hover:text-light">Link 1</a>
            <a href="test#" class="block p-2 text-sm text-gray-400 dark:text-gray-400 hover:text-gray-700 dark:hover:text-light">Link 2</a>
        </div>
      </div>
    </nav>
  </div>

    <div ref="modal" class="modal">
      <div class="modal-content text-center">
        <h3><u>Confirm Logout</u></h3>
        <p class="mt-2">Are you sure you want to log out of the system?</p>
        <div class="modal-actions text-center">
          <button class="btn btn-primary" @click="logout"><i class="fa fa-check"></i>&nbsp;Yes</button>&nbsp;&nbsp;
          <button class="btn btn-danger text-right" ref="closeModal"><i class="fa fa-exclamation-circle"></i>&nbsp;Not now</button>
        </div>
      </div>
    </div>
        
</template>

<script>
export default {
  data() {
    return {
      dropdownOpen: false,
      isMobileMainMenuOpen: false,
      open: {
        dashboard: false,
        components: false,
      },
      isActive: {
        dashboard: false,
        components: false,
      },
    };
  },
  methods: {
    logout() {
      // Remove user_info and auth_token from localStorage
      localStorage.removeItem('user_info');
      localStorage.removeItem('auth_token');

      // Redirect to the login page or perform other actions
      console.log('User logged out.');
      // @ts-ignore
      // this.closeModal();
      window.location.href = '/login'; // Change to your login route
    },
    toggleDropdown() {
      this.dropdownOpen = !this.dropdownOpen;
    },
    toggleMobileMenu() {
      this.isMobileMainMenuOpen = !this.isMobileMainMenuOpen;
    },
    toggleSubMenu(menu) {
      this.open[menu] = !this.open[menu];
      this.isActive[menu] = this.open[menu];
    },
    openModal() {
      const modal = this.$refs.modal;
      const closeModalButton = this.$refs.closeModal;

      if (modal && closeModalButton) {
        // @ts-ignore
        modal.style.display = 'flex';

        // @ts-ignore
        closeModalButton.addEventListener('click', () => {
          // @ts-ignore
          modal.style.display = 'none';
        });

        window.addEventListener('click', (event) => {
          if (event.target === modal) {
            // @ts-ignore
            modal.style.display = 'none';
          }
        });
      }
    },
  },
  
};
</script>


<style scoped>
  /* Scoped styles if needed */
  a{
    text-decoration: none;
  }


  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 30%;
    height: 30%;
  }

  @media(max-width:600px){
      .modal {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgb(0, 0, 0);
          background-color: rgba(0, 0, 0, 0.4);
      }

      .modal-content {
          background-color: #fefefe;
          margin: 0% auto;
          width: 90%;
          margin-top:30% ;
          height: 28%;
          margin-bottom:5% ;
          border: 1px solid #888;
      }   
  }

  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>
